<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="~/css/adminlte.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
            </ul>
        </nav>

        <aside class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4">

            <a href="#" class="brand-link">
                <img src="~/img/Admin-icon.png" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">Admin Panel</span>
            </a>

            <div class="sidebar">
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

                        <li class="nav-item">
                            <a href="../widgets.html" class="nav-link">
                                <i class="nav-icon fas fa-users"></i>
                                <p>
                                    Kullanıcılar
                                </p>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a href="../widgets.html" class="nav-link">
                                <i class="nav-icon fas fa-link"></i>
                                <p>
                                    Entegratörler
                                </p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-address-book"></i>
                                <p>
                                    Etkinlikler
                                    <i class="fas fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("Events","Admin")" class="nav-link">
                                        <i class="fas fa-tasks nav-icon"></i>
                                        <p>Tüm Etkinlikler</p>
                                    </a>
                                </li>
                            </ul>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="@Url.Action("PendingEvents","Admin")" class="nav-link">
                                        <i class="fas fa-tasks nav-icon"></i>
                                        <p>Onay Bekleyenler</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="sidebar-custom text-center">
                <a href="@Url.Action("Logout","Admin")">
                    <button type="button" class="btn btn-danger btn-block"><i class="fa fa-sign-out-alt"></i> Çıkış Yap</button>
                </a>
            </div>
        </aside>

        <div class="content-wrapper">
            @RenderBody()
        </div>


        <footer class="main-footer">
            <strong>Copyright &copy; 2022</strong> Hüseyin Bozdemir
        </footer>


        <aside class="control-sidebar control-sidebar-dark">

        </aside>

    </div>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/jquery/jquery.min.js"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <script src="~/js/adminlte.min.js"></script>
</body>
</html>
