@using EntertechFP.UI.Models.ViewModels
@{
    Layout = "_UserLayout";
}
@model UserChangePasswordViewModel

<div class="login-page">

    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <h1>Şifre Değişikliği</h1>
            </div>
            <div class="card-body">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <form action="@Url.Action("ChangePassword","User")" method="post">
                    <div class="input-group mb-3">
                        @Html.PasswordFor(m=>m.OldPassword,new {@class="form-control", placeholder="Eski Şifreniz"})
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(m=>m.NewPassword,new {@class="form-control", placeholder="Yeni Şifreniz"})
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        @Html.PasswordFor(m=>m.ConfirmPassword,new {@class="form-control", placeholder="Yeni Şifreniz (Tekrar)"})
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Şifreyi Değiştir</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>