@using EntertechFP.UI.Models.Entitities
@{
    Layout = "_UserLayout";
}
@model List<EventDto>

<section class="content">
    <div class="content-header">
        <h1>Etkinlikler</h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 2%">#</th>
                <th style="width: 30%">Etkinlik Adı</th>
                <th style="width: 30%">Etkinliği Düzenleyen</th>
                <th style="width: 10%">Kategori</th>
                <th style="width: 10%">Şehir</th>
                <th>Kapasite</th>
                <th style="width: 10%"></th>

            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {

                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model[i].EventName</td>
                    @if (Model[i].User is not null)
                    {
                        <td>@($"{Model[i].User.FirstName} {Model[i].User.LastName}")</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (Model[i].Category is not null)
                    {
                        <td>@Model[i].Category.CategoryName</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (Model[i].City is not null)
                    {
                        <td>@Model[i].City.CityName</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td>@Model[i].Capacity</td>
                    <td class="text-center">
                        <a href="@Url.Action("EventDetails","User",new {eventId=Model[i].EventId})" class="btn btn-outline-primary">İncele</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            var msg = "@ViewBag.Alert";
            if (msg.toLowerCase() == "false") {
                Swal.fire({
                    icon: 'error',
                    title: 'Hata...',
                    text: '@Html.Raw(ViewBag.Message)',
                });
            }
            else if (msg.toLowerCase() == "true") {
                Swal.fire({
                    icon: 'success',
                    title: 'Bilgi...',
                    text: '@Html.Raw(ViewBag.Message)',
                });
            }
        });
    </script>
}