@using EntertechFP.UI.Models.Entitities
@{
    Layout = "_UserLayout";
}
@model List<EventDto>

<section class="content">
    <div class="content-header">
        <h1>Etkinlikler</h1>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th style="width: 2%">#</th>
                <th style="width: 30%">Etkinlik Adı</th>
                <th style="width: 30%">Etkinliği Düzenleyen</th>
                <th style="width: 10%">Kategori</th>
                <th style="width: 10%">Şehir</th>
                <th>Kapasite</th>
                <th style="width: 10%" class="text-center">Durum</th>

            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count; i++)
            {

                <tr>
                    <td>@(i + 1)</td>
                    <td>@Model[i].EventName</td>
                    @if (Model[i].User is not null)
                    {
                        <td>@($"{Model[i].User.FirstName} {Model[i].User.LastName}")</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (Model[i].Category is not null)
                    {
                        <td>@Model[i].Category.CategoryName</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    @if (Model[i].City is not null)
                    {
                        <td>@Model[i].City.CityName</td>
                    }
                    else
                    {
                        <td></td>
                    }
                    <td class="text-center">@Model[i].Capacity</td>
                    <td class="text-center">
                        <h5>
                            @switch (Model[i].IsApproved)
                            {
                                case true:
                                    <span class="badge bg-success">Onaylandı</span>
                                    break;
                                case false:
                                    <span class="badge bg-danger">Reddedildi</span>
                                    break;
                                case null:
                                    <span class="badge bg-primary">Bekliyor</span>
                                    break;
                            }
                        </h5>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
